name: Build TNOB Calendar

on:
  schedule:
    - cron: "0 2 1 * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: 18

      - run: npm install
      - run: node generate.js

      - run: |
          git config user.name "calendar-bot"
          git config user.email "calendar-bot@users.noreply.github.com"
          git add calendar.ics
          git commit -m "update calendar" || echo "no changes"
          git push
